a {
  color: #C0392B;
}

a:hover {
  color: #C0392B;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.logo img {
  max-width: 270px;
}

.main-content h1:first-of-type {
  margin-top: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.menu-section {
  border: 1px solid #2c3e50;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-section h4 {
  background: #2c3e50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  padding: 10px;
  margin: 0px;
}

.menu-section ul {
  padding: 0px;
  list-style-type: none;
  margin-bottom: 0px;
}

.menu-section ul li {
  border-bottom: 1px solid #eee;
}

.menu-section ul li:last-child {
  border-bottom: none;
}

.menu-section ul li:hover {
  background: #ecf0f1;
}

.menu-section ul li a:hover {
  text-decoration: none;
}

.menu-section a {
  padding: 10px;
  width: 100%;
  display: inline-block;
}

.main-content h2 {
  margin-top: 0px;
}

.quote-otd .well {
  margin-bottom: 0px;
}

.quote-otd br, .quote-otd b {
  display: none;
}

.delete-btn {
  float: right;
}

.edit-btn {
  float: right;
  margin-right: 10px;
}

.player-btn form {
  display: inline;
}

.player-table td {
  vertical-align: middle !important;
}

.game-teams, .game-details {
  margin-bottom: 20px;
}

.mobile-menu {
  display: none;
}

table td {
  vertical-align: middle !important;
}

@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .team-index-table .player-list {
    display: none;
  }
  .player-table .player-hometown, .player-table .player-height, .player-table .player-age {
    display: none;
  }
  .player-table tr td:nth-child(2) {
    display: none;
  }
  .player-table tr td:nth-child(3) {
    display: none;
  }
  .player-table tr td:nth-child(4) {
    display: none;
  }
  .matches-table th:nth-child(4) {
    display: none;
  }
  .matches-table tr td:nth-child(4) {
    display: none;
  }
  .matches-table th:nth-child(3) {
    display: none;
  }
  .matches-table tr td:nth-child(3) {
    display: none;
  }
}
